* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  /* max-width: 1440px; */
  width: 100%;
  margin: auto;
  /* padding: 0 2rem; */
  font-family: 'roboto', sans-serif;
}


h1 {
  font-family: 'roboto', sans-serif;
  font-size: 32px;
  line-height: 34px;
}

h2 {
  color: var(--oliveGreen);
  font-family: 'roboto', sans-serif;
  font-size: 28px;
  line-height: 30px;
}

h3 {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  line-height: 28px;
}

li,
ul {
  list-style-type: none;
}

a {
  color: var(--link-color-inactive) !important;
} */

div.mantine-Modal-root{
  max-width: 100%;
  width: calc(100dvw * var(--mantine-spacing));
}
.mantine-Modal-inner{
  left:0
}

.mantine-NavLink-root[data-active='true'] {
  font-weight: bold;
  background-color: var(--teal);
  * {
    color: var(--white);
  }
}

:root {
  --brightGreen: #08f63c;
  --oliveGreen: #50742b;
  --darkGreen: #0d6b0a;
  --blue: #2d8dc6;
  --teal: #078a6f;
  --white: #ffffff;
  --yellow: #fec100;
  --pink: #e7727f;
  --purple: #dca1b1;
  --brown: #3B2F2F;
  --subtitle-text: #c2c2c2;
  --nav-background-color: var(--brightGreen);
  --nav-hover-color: var(--teal);
  --title-text-color: var(--oliveGreen);
  --body-text-color: var(--blue);
}
